<div class="card-row">
    <div class="card-col">
        <nb-card size="tiny" status="info">
            <nb-card-header>E-Learning Configuration</nb-card-header>
            <nb-card-body>
                The admin can configuration for e Learning documents and links for newly onboarded employees and team members.
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="info" (click)="goToLearning()"><nb-icon icon="star"></nb-icon>CREATE</button>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="card-col">
        <nb-card size="tiny" status="info">
            <nb-card-header>FAQ Configuration</nb-card-header>
            <nb-card-body>
                The admin can configuration for Frequently Asked Queries and their answers for chatbot.
            </nb-card-body>
            <nb-card-footer>
                <button nbButton status="info" (click)="goToBotLearning()"><nb-icon icon="star"></nb-icon>CREATE</button>
            </nb-card-footer>
        </nb-card>
    </div>
  </div>